<!doctype html>
<html>
<head>
<title>Банк ССГ</title>
<link href="/bootstrap-3/css/bootstrap.min.css" rel="stylesheet" />
<script src="/jquery.js"></script>
<script src="/bootstrap-3/js/bootstrap.min.js"></script>

<link href="/bootstrap-table.min.css" rel="stylesheet" />
<script src="/bootstrap-table.min.js"></script>
<script src="/bootstrap-table-ru-RU.js"></script>
<script src="/ssg.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ССГ БАНК</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-transfer"></span> Финансы <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="menu-transactions" href="#">Все транзакции</a></li>
            <li><a class="menu-transfer" href="#">Перевод</a></li>
          </ul>
        </li>
        <li class="menu-item"><a class="menu-people" href="#">
            <span class="glyphicon glyphicon-user" area-hidden="true"></span> 
            Жители
            </a>
        </li>
        <li class="menu-item active"><a class="menu-firms" href="#">
            <span class="glyphicon glyphicon-wrench" area-hidden="true"></span> 
            Фирмы
            </a>
        </li>
        <li class="menu-item"><a class="menu-budget" href="#"><span class="glyphicon glyphicon-ruble"></span> Бюджет</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item"><a class="menu-regions" href="#"><span class="glyphicon glyphicon-home"></span> Регионы</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-hdd" area-hidden="true"></span> 
            <span class="glyphicon scanner-status" area-hidden="true"></span> 
            Сканнер <span class="caret"></span>
          </a>
          <ul class="dropdown-menu scanner-manager">
            <li class="scanner-on"><a href="javascript:void(0);"><span class="glyphicon glyphicon-ok"></span> Подключен<br /><span class="scanner-port"></span></a></li>
            <li class="scanner-off"><a href="javascript:void(0);"><span class="glyphicon glyphicon-remove-sign"></span> Отключен</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="content">
  {{{body}}}
</div>


<script>
  (function($) {
    ssg.connectToScanner();
    function activeMenu(selector) {
      $('div.navbar-collapse li').removeClass('active');
      $(selector).parents('li.menu-item').addClass('active');
    }

    $('.menu-people').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-people');
      $.ajax({
        url: '/people',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $('.menu-firms').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-firms');
      $.ajax({
        url: '/firms',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $('.menu-transactions').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-transactions');
      $.ajax({
        url: '/transactions',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $('.menu-transfer').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-transfer');
      $.ajax({
        url: '/transfer',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $('.menu-budget').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-budget');
      $.ajax({
        url: '/budget',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $('.menu-regions').click(function(e) {
      e.preventDefault();
      activeMenu('.menu-regions');
      $.ajax({
        url: '/regions',
        method: 'GET',
        success: function(data, textStatus, jqXHR) {
          $('#content').html(data);
        },
        error: function(jqXHR, textStatus, error) {
          alert('Произошла ошибка');
          console.log( error );
        }
      });
    });

    $(document).on('click', 'button.read-card', function(e) {
      e.preventDefault();
      var $this = $(this);
      var selector = $(e.currentTarget).data('target');
      ssg.cardRequest(function(card_id) {
        $this.parents('.form-group').find(selector).val(card_id).trigger('change');
      });
    });

  })(jQuery);
</script>

</body>
</html>
