<div class="pull-left manage-buttons">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#citizen-form-modal">
    <span class="glyphicon glyphicon-plus"></span>
    Добавить 
  </button>
  <button type="button" class="btn btn-danger countcoef">
    <span class="glyphicon glyphicon-warning-sign"></span>
    Рассчитать коэффициенты 
  </button>
</div>

<table id="people_table">
</table>

<div id="citizen-form-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>

      <div class="modal-body">

          <form class="form-citizen form-horizontal">

            <input type="hidden" class="form-control" name="id">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Название</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name">
              </div>
            </div>

            <div class="form-group">
              <label for="currency" class="col-sm-2 control-label">Валюта</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="currency">
              </div>
            </div>

            <div class="form-group">
              <label for="coef" class="col-sm-2 control-label">Коэффициент</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="coef">
              </div>
            </div>

            <div class="form-group">
              <label for="PIT" class="col-sm-2 control-label">Налог НДФЛ</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="PIT">
              </div>
            </div>

            <div class="form-group">
              <label for="ANP" class="col-sm-2 control-label">Налог ННП</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="ANP">
              </div>
            </div>

          </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="citizen-save">Сохранить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  $('#people_table').bootstrapTable({
    search: true,

    showRefresh: true,
    showExport: true,

    maintainSelected: true,
    clickToSelect: true,
    singleSelect: false,
    pagination: true,
    idField: 'card_id',
    pageSize: 200,
    pageList: [10, 50, 100, 'All'],
    columns: [
      { field: 'name',
        title: 'Название' },
      { field: 'currency',
        title: 'Валюта' },
      { field: 'coef',
        title: 'Коэффициент' },
      { field: 'PIT',
        title: 'Налог НДФЛ' },
      { field: 'ANP',
        title: 'Налон ННП' },
      { field: 'edit',
        title: '',
        formatter: function() {
          return [
            '<a class="region-edit" href="javascript:void(0)" title="Редактировать">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>  '
          ].join('');
        },
        events: {
          'click .region-edit': function(e, value, row, index) {
            var form = $('.form-citizen');
            form.find('input[name=id]').val(row.id);
            form.find('input[name=name]').val(row.name);
            form.find('input[name=currency]').val(row.currency);
            form.find('input[name=coef]').val(row.coef);
            form.find('input[name=PIT]').val(row.PIT);
            form.find('input[name=ANP]').val(row.ANP);

            $('#citizen-form-modal').modal();
          }
        }
      },
    ],
    url: '/regions/list'
  });

  $('.countcoef').click(function(e) {
    e.preventDefault();
    $.ajax({
      url: '/budget/calccoef',
      method: 'POST',
      success: function(data, textStatus, jqXHR) {
        $('#people_table').bootstrapTable('refresh');
      },
      error: function(jqXHR, textStatus, error) {
        alert(jqXHR.responseText);
      }
    });
  });

  $('#citizen-save').click(function() {
    var form = $('.form-citizen');
    var form_data = form.serializeArray();
    var data = {};
    for( var i = 0; i < form_data.length; i++ ) {
      data[form_data[i].name] = form_data[i].value;
    }
    console.log(data);
    var url;
    if( data.id )
      url = '/regions/update';
    else {
      url = '/regions/insert';
      delete data.id;
    }
    $.ajax({
      method: 'POST',
      url: url,
      data: data,
      success: function(data, status, jqXHR) {
        $('#citizen-form-modal').modal('hide');
        form[0].reset();
        form.find('input[name=id]').val('');
        $('#people_table').bootstrapTable('refresh');
      },
      error: function(jqXHR, status, error) {
        alert(error);
      }
    });
  });

</script>
